/* @import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
main {
	background-color: black;
	color: white;
}

#banner {
	background-color: #1f1f1e;
	color: white;
}

#confirmed,
nav {
	background-color: #1f1f1e;
	color: white;
}

#myTable {
	color: white;
}

.nav-link {
	color: white;
} */
